<h1>MY CONCERT</h1>
<%= link_to 'Concerts', controller: 'concerts' %>
<%= link_to 'Songs', controller: 'songs' %>
<%= link_to 'Artists', controller: 'artists' %>
<%= link_to 'Venues', controller: 'venues' %>


