// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body
              {
    background-image: url('/assets/concert_home.jpg');
    background-size: cover;
    /*opacity: 0.5;
    height: 600px;
    background-color: white;*/
    border: 1px solid gray;
}

